{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}
 


{% for games in games %}
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ games.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ games.title }}</h5>
    <p class="card-text">{{ games.description }}</p>
    <a href="#" class="btn btn-primary">Pour voir -> ici</a>
  </div>
</div>
{% endfor%}

{% endblock %}
