{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}
 

<div class="d-flex flex-row">
{% for games in games %}

    <div class="card text-white bg-dark m-3" style="width: 18rem;">
        <img class="card-img-top" src="{{ games.image }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ games.title }}</h5>
            <p class="card-text">{{ games.description }}</p>
            <a href="#" class="btn btn-primary">Pour voir -> ici</a>
        </div>
    </div>
</div>
{% endfor%}

{% endblock %}
