{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}
 
<section class="jumbotron jumbotron-fluid text-center bg-success">
    <div class="container">
        <h1 class="fw-light text-center text-white ">Nos modes de jeux</h1>
        <hr class="my-4">
        <p class="text-center text-white">Minecraft est un jeu de type bac à sable. Le but du jeu étant de détruire des différents blocs pour les recombiner et en créer d'autres.
        </p>
    </div>
</section>

<div class="d-flex flex-wrap justify-content-center w-50 m-auto ">
{% for games in games %}
    <div class="card text-white bg-dark m-4" style="width: 22rem;">
        <img class="card-img-top" src="{{ games.image }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ games.title }}</h5>
            <p class="card-text">{{ games.description | u.truncate(50,'...') }}</p>
                <div=class="btn-group">
                    <a href="{{ path('gamesmode_show', {id:games.id}) }}" class="btn btn-sm btn-outline-secondary">En savoir plus</a>
                </div>
        </div>
 
    {% endfor %}
</div>




{% endblock %}
