{% extends 'base.html.twig' %}

{% block title %}MultiCubePlex | Accueil{% endblock %}

{% block body %}

      
<div class="title">
  <h1 class="text-center text-warning mt-2 ">Dernieres images => Modes de jeux</h1>
</div>
      
            {# <image src="{{ modes.image }}" width="40%" > #}
<div class="container">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    {%  set isFirst = true %}
      {% for modes in homeGame %}
        {% if isFirst == true %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"></li>
        {% endif %}
        {% endfor %}
    </ol>

    <!-- images -->
    {%  set isFirst = true %}
      {% for modes in homeGame %}
        {% if isFirst == true %}
        <div class="carousel-inner">
          <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <img class="d-block w-100 rounded" src="{{ asset(modes.image) }}" alt="First slide">
        </div>
        {% set isFirst = false %}
      {% endfor %}

    <!-- affiche le < avec previous et next du carrousel -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      {# <span class="sr-only">Précedent</span> #}
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      {# <span class="sr-only">Suivant</span> #}
    </a>
  </div>
</div>


<div class="card text-white bg-dark mb-3 mt-5 mb-5" style="width: 38rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Explications du serveur</h5>
    <h6 class="card-subtitle mb-2 text-muted text-center">MulticubePlex Serveur</h6>
    <p class="card-text">Salut, Nous te présentons MultiCubePlex un tout nouveau serveur multijoueur avec plein de mode de jeu, de grade et même de cosmétique. Viens te faire de nouveaux amis. Tu attends quoi pour nous rejoindre, tout le monde t'attend avec impatience sur ce serveur</p>
    <a href="#" class="card-link"> Pour jouer c'est ici</a>
    <a href="#" class="card-link">Qui sommes-nous</a>
  </div>
</div>

    

{% endblock %}


